html, body, section, .columns, main, aside {
    margin: 0;
    width: 100vw;
    height: calc(100vh - 100px);
}
header {
    height: 50px;
    background-color: #666;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
.columns {
    display: flex;
}
main {
    width: calc(100vw - 40%);
    background-color: #ccc;
    font-size: 1.5em;
    font-weight: bold;
}
aside {
    background-color: #999;
    width: 20%;
    font-size: 1.5em;
    font-weight: bold;
}
footer {
    height: 50px;
    background-color: #666;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}